name: Deploy Web App

on:
  workflow_dispatch:
  push:
    branches:
      - dev # Or your main branch for deployments

defaults:
  run:
    working-directory: klubradio_archivum

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          flutter-version: '3.27.1'

      - name: Install dependencies
        run: flutter pub get

      - name: Build Web App
        run: flutter build web --release --base-href / # --base-href is important for subdirectories, but for play.gi-td.com it's likely root. Assuming play.gi-td.com is the root of the deployment

      - name: Upload Web Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: web-app
          path: klubradio_archivum/build/web
          retention-days: 14
